<div class="hero">
  <div class="container">
      <div class="details">
      <div class="quote">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="heart"
          >
          <path
            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
            stroke="#E23240" fill="#E23240" stroke-width="2px"></path>
        </svg>
        <p class="highlight">Life-Saving Platform</p>
      </div>
      <h1>
        Be the reason someone <span class="highlight">lives</span>
      </h1>
      <p>Connect blood donors with those in need. Donate blood, medical supplies, and medicine to save lives in your community.
      Every donation matters.</p>
      <div class="buttons">
        <a class="find" routerLink="find-blood">Find Blood Now</a>
        <a class="donate" routerLink="donate-blood">Donate Now</a>
      </div>
      <div class="analytics">
        <app-analytics-box title="+1000" stats="Lives Saved"></app-analytics-box>
        <app-analytics-box title="+500" stats="Active Donors"></app-analytics-box>
        <app-analytics-box title="+50" stats="Partner Hospitals"></app-analytics-box>
      </div>
    </div>
    <div class="image">
      <img src="assets/hero-blood-donation.png" alt="people">
    </div>
  </div>
</div>

