<div class="steps">
  <app-main-heading title="How It Works"  des="Simple steps to save lives. Our platform makes it easy to connect donors with those who need help."></app-main-heading>
  <div class="container">
    <app-steps-box icon="person" title="Sign Up" des="Create your account with basic information and verify your identity to join our life-saving community."></app-steps-box>
    <app-steps-box icon="search" title="Request or Donate" des="Find blood donors near you or offer to donate blood, medical supplies, or medicine to those in need."></app-steps-box>
    <app-steps-box icon="heart" title="Get Approved" des="Our partner hospitals verify and approve requests to ensure safe, coordinated medical support."></app-steps-box>
  </div>
</div>
